html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #333;
}

h4, h5 {
    margin: 4px 0;
}

a {
    text-decoration: none;
    color: #3182bd;
}
a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
    line-height: 1.3;
}
p.inset {
    margin-left: 16px;
}


input[type=range]{
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /*cursor: pointer;*/
    cursor: ew-resize;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
input[type=range]::-ms-track {
    /*!*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead *!*/
    background: transparent;

    /*!*leave room for the larger thumb to overflow with a transparent border *!*/
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
input[type=range]::-ms-tooltip {
    display: none;
}




/* Core classes */
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.fullwidth {
    width: 100%;
}
.fullheight{
    height: 100%;
}

.table {
    display: table;
    table-layout: fixed;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}

.fillspace {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.scrolly {
    overflow-y: auto;
}

.center {
    text-align: center;
}

.small {
    font-size: smaller;
}

.quiet {
    color: #666;
}
.quieter {
    color: #AAA;
}
.bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.hidden {
    display: none !important;
}

.nomargin {
    margin: 0 !important;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.align-right {
    text-align: right;
}

.button {
    color: #888;
    background: #F6F6F6;
    border: 1px solid #AAA;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 6px;
}
.button:hover {
    color: #333;
    border-color: #888;
    box-shadow: 1px 1px 3px #666;
}

.button-close {
    padding: 3px;
    cursor: pointer;
}

.inline-top {
    display: inline-block !important;
    vertical-align: top;
}
.inline-middle {
    display: inline-block !important;
    vertical-align: middle;
}

.reset {
    float: right;
    color: #1f77b4;
    cursor: pointer;
}
.reset:hover {
    text-decoration: underline;
}

.credit-photo {
    text-align: right;
    font-size: 0.7em;
    color: #FFF;
    position: relative;
    top: -16px;
    float: right;
    background: rgba(0,0,0,0.35);
    padding: 0 4px;
    text-shadow: 1px 1px 2px #000;
}
.credit-photo a {
    color: #FFF;
}

.divider {
    height: 1px;
    border-top: 1px solid #AAA;
    margin: 6px 0;
}

.divider.divider-light {
    border-color: #EEE;
}

.badge {
    background: #333;
    color: #FFF;
    display: inline-block;
    text-align: center;
    padding: 0.2em 0.5em;
    border-radius: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}




.filter-radio-container {
    padding: 0 14px 10px;
}

.filter-radio-container span + span {
    margin-left: 24px;
}

/* used for hover treatment over a node */
.node-highlight:hover {
    background: #F6F6F6;
}

.node-highlight .node-highlight:hover{
    background: #EEE;
}


/* intended to be setup as a leaflet control to coordinate layout with other controls */
.map-panel {
    background: #FFF;
    border: 4px solid #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    overflow: hidden;
    /*pointer-events: none;*/
}
/* End core classes */


/* Tabs Widget */
.tabs {
    list-style: none;
    margin: 0;
    padding: 4px 10px 0;
    background-color: #AAA;
    color: white;
    display: flex;
}
.tabs > li {
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    background-color: #BBB;
    border: 1px solid #999;
    border-bottom: none;
    position: relative;
}
.tabs > li:hover {
    background-color: #CCC;
}
.tabs > li.active {
    font-weight: bold;
    background: #FFF;
    color: #333;
}
.tabs .indicator {
    color: red;
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 10px;
    text-shadow: 1px 1px 4px #333;
}

.tab-ref {
    padding: 1px 8px;
    background: #AAA;
    color: #FFF;
    border-radius: 3px 3px 0 0;
}
.tabs.subtabs {
    background: #FFF;
    color: #333;
}
.tabs.subtabs > li {
    border-bottom: 2px solid #FFF;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}
.tabs.subtabs > li:hover {
    background: #FFF;
    border-bottom-color: #EEE;
}
.tabs.subtabs > li.active {
    border-bottom-color: orange;
}



/* End Tabs Widget */


/* Modal Dialog */
/* first element is actually the background scrim */
.modal {
    position: absolute;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}
.modal > div {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background: #F6F6F6;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #000;
    padding: 10px;
}
.modal > div > div:first-child {
    border-bottom: 1px solid #DDD;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.modal > div > div:first-child > h3 {
    margin: 0;
}
.modal .button-close {
    font-size: 1.3em;
    color: #888;
    padding: 0;
}
.modal .button-close:hover {
    color: #333;
}
.modal.alert {
    background: #FFF;
}
.modal.alert > div {
    background: rgba(255, 169, 0, 0.44);
}
.modal.alert .fa-exclamation-triangle {
    font-size: 3em;
}

/* End Modal Dialog */


/* expandos */
.expandable h4{
    cursor: pointer;
    padding: 4px;
    border-radius: 3px;
}
.expandable h4:hover {
    background: #F6F6F6;
}
.expandable h4 .fa {
    margin-right: 6px;
}
/* end expandos */


/* from http://tobiasahlin.com/spinkit/*/
.spinner {
    margin: 0 auto;
    height: 30px;
    text-align: center;
}
.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
    }
}
@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
   }
}




/* Leaflet overrides */
.leaflet-top.leaflet-right {
    z-index: 2000;
}


/*.leaflet-control-layers-toggle {*/
    /*background-image: none;*/
    /*width: auto;*/
    /*height: auto;*/
    /*padding:4px;*/
    /*text-decoration: none;*/
    /*font-size: 1.3em;*/
/*}*/
/* End Leaflet overrides */

path.leaflet-interactive {
    stroke: #333;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
    fill-opacity: 0.75;
}
path.leaflet-interactive:hover {
    stroke-width: 3px;
    stroke-opacity: 1 !important;
    stroke: #333;
}
path.leaflet-interactive.selected {
    stroke: #e6550d;
    stroke-width: 2px !important;
    stroke-opacity: 1 !important;
}

/* transparency levels */
.t_0 path.leaflet-interactive {
    fill-opacity: 1 !important;
    stroke-opacity: 0.5 !important;
}
.t_25 path.leaflet-interactive {
    fill-opacity: 0.75 !important;
    stroke-opacity: 0.5 !important;
}
.t_50 path.leaflet-interactive {
    fill-opacity: 0.5 !important;
    stroke-opacity: 0.25 !important;
}
.t_75 path.leaflet-interactive {
    fill-opacity: 0.25 !important;
    stroke-opacity: 0.125 !important;
    /*stroke: #333;*/
}
.t_100 path.leaflet-interactive {
    fill-opacity: 0 !important;
    stroke-opacity: 0.1 !important;
    /*stroke: #333;*/
}


/* dc.js overrides */
div.dc-chart {
    float: none;
}

.dc-chart g.row rect:hover {
    fill-opacity: 0.3;
    fill: orange;
}


/* NVD3 overrides */
.nvd3 text {
    font-size: 0.8em;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
}
.nv-multibarHorizontal .nv-bar {
    stroke: #DDD !important;
    shape-rendering: crispEdges;
}

.nv-multibarHorizontal .nv-bar rect {
    stroke-opacity: 1 !important;
}

.nv-multiBarHorizontalChart .tick line {
    stroke-opacity: 0 !important;
}

.nvd3 .nv-multibarHorizontal .nv-groups .nv-bar text {
    font-weight: normal;
    fill-opacity: 0.6;
}


.nv-axislabel {
    font-size:14px;
    font-weight: bold;
}

.nvd3.nv-pie path {
    stroke: #AAA;
}

.nvtooltip {
    background: #FFF;
}




/* Page elements */

#Header {
    height:34px;
    background: #587387;
    background: linear-gradient(left, #b8673d 0, #646D5A 60px, #a6b398 100%);
    background: -webkit-linear-gradient(left, #b8673d 0, #646D5A 60px, #a6b398 100%);
    color: white;
}
#Header img {
    margin: 2px 10px 2px 4px;
    height: 30px;
}
#Header h3 {
    margin:4px 6px;
    text-shadow: 1px 1px 2px #333;
}
#Header .button {
    margin: 3px 6px 0 0;
}

#Footer {
    height:28px;
    color: white;
    background: #646D5A;
    border-top: 2px solid #333;
}
#Footer > ul {
    list-style: none;
    margin: 4px 4px 0;
    padding: 0;
}
#Footer > ul > li {
    display: inline-block;
    padding-left: 16px;
}
#Footer > ul > li:first-child {
    padding-left: 8px;
}
#Footer a {
    color: white !important;
}

#Main {
    border-top: 2px solid #333;
}

#Sidebar {
    width: 470px;
    border-right: 2px solid #AAA;
    background-color: #FFF;
    overflow: hidden;
}

#Map {
    display: table-cell;
    height: 100%;
}

#MainSidebarHeader ul {
    padding-top: 6px;
}

#MainSidebar .tab {
    padding: 16px;
}


.tooltip {
    position: absolute;
    max-width: 350px;
    z-index: 10000;
    background: rgba(255,255,255,1);
    border: 1px solid #AAA;
    border-radius: 6px;
    padding: 0 10px 10px 10px;
    box-shadow: 2px 2px 6px #555;
}
.tooltip-pointer {
    position: absolute;
    top: 14px;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #555;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.tooltip-title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 4px;
}

.tooltip-subtitle {
    padding-bottom: 4px;
    border-bottom: 1px solid #DDD;
    line-height: 1.5;
}
.tooltip-text {
    padding: 4px 0;
    color: #666;
    font-size: smaller;
    margin: 0;
    clear: both;
}

/* not officially part of tooltip construct */
.tooltip .colorpatch {
    height: 1.25em;
    width: 2em;
    vertical-align: middle;
    display: inline-block;
    margin: 1px 6px 1px 0;
    border: 1px solid #DDD;
}




#Details {
    padding: 6px 12px
}

#Details section {
    clear: both;
}

/*#Details section + section {*/
    /*margin-top: 50px;*/
    /*padding-top: 40px;*/
    /*border-top: 1px dotted #EEE;*/
/*}*/

/*#Details h3 {*/
    /*border-bottom: 1px solid #DDD;*/
    /*margin: 4px 0 2px 0;*/
    /*padding-bottom: 2px;*/
/*}*/
#Details section h4 + div {
    margin-bottom: 30px;
}

#Details h5 {
    border-bottom: 1px solid #DDD;
}

#Details .detail-table {
    margin: 20px 0 0 20px;
}

#Details table + h5 {
    margin-top: 16px;
}

#Details table {
    margin-top: 0;
    padding-left: 20px;
    font-size: 0.85em;
}

#Details tr + tr td {
    border-top: 1px solid #EEE;
}
#Details td.col-name {
    width: 248px;
    padding: 4px 16px 4px 4px
}
#Details td.col-area {
    padding: 4px;
    font-size: small;
}
#Details td img {
    height: 36px;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #DDD;
    vertical-align: middle;
    margin-right: 4px;
}

#Details .tabs {
    padding: 0;
    margin: 10px
}

#Details section p {
    margin-left: 10px;
    font-size: small;
    color: #555;
    text-align: justify;
}
#Details section + section {
    border-top: 1px solid #EEE;
}

#Details section.read-more {
    padding-top: 10px;
}

#DetailsClose {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 4px;
    color: #AAA;
}
#DetailsClose:hover {
    color: #555;
}

#DetailsHeader h4 {
    margin: 8px 8px 2px 8px;
}
#DetailsHeader h4 + div {
    padding: 2px 8px 8px;
}

/*#DetailsHeader ul {*/
    /*padding: 3px 10px;*/
/*}*/

/*#DetailsHeader ul li {*/
    /*border-radius: 3px;*/
/*}*/

/*#DetailsHeader ul li.active {*/
    /*background: #EEE;*/
    /*border: 1px solid #999;*/
/*}*/


.horiz-bars .nvd3 text {
    font-size: 0.7em;
}
.horiz-bars {
    line-height: 1;
    margin: 20px 10px 10px 10px;
    border-left: 1px solid #555;
    padding: 10px 10px 10px 0;
    cursor: default;
}
.horiz-bars > div {
    padding: 8px 0 8px 0;
}
.horiz-bars .bar {
    border: 1px solid #555;
    border-left: none;
    height: 1.5em;
    opacity: 0.75;
}
.horiz-bar-title {
    margin: 0 0 2px 2px;
    font-size: 0.9em;
}
.horiz-bar-label {
    margin-left: 4px;
}





/* used by pie chart - TODO */
ul.legend {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.legend.legend-table {
    padding-left: 14px;
    padding-right: 10px;
}


/*.legendElement {*/
    /*padding: 4px 2px;*/
    /*cursor: default;*/
    /*border-radius: 3px;*/
/*}*/
/*.legendElement.highlight,*/
/*.tooltipContents .highlight*/
/*{*/
    /*background: rgba(252, 249, 142, 0.43);*/
/*}*/
/*.legendElement .colorpatch {*/
    /*padding: 4px;*/
    /*width: 18px;*/
    /*height: 22px;*/
    /*margin-right: 4px;*/
    /*border: 1px solid #AAA;*/
    /*border-radius: 3px;*/
    /*font-size: 18px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
/*}*/
/*.legendElement > div + div {*/
    /*width: 150px;*/
/*}*/
/*.legendElement.small .colorpatch {*/
    /*font-size: 0.9em;*/
    /*height: 12px;*/
    /*width: 12px;*/
/*}*/


.legend-chart li {
    /*padding: 2px 10px 2px 0;*/
    padding: 0 10px 0 0;
}

.legend-chart .colorpatch {
    width: 32px;
    font-size: 0.8em;
    padding: 4px;
    border: 1px solid #DDD;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
    /*height: 18px;*/
    height: 22px;
    line-height: 2;
    /*line-height: 1.5;*/
}
.legend-chart .colorpatch.empty {
    background: #F6F6F6;
    color: #AAA;
}

.legend-chart li + li .colorpatch {
    border-top: none;
}
.legend-chart li:first-child .colorpatch {
    border-radius: 10px 10px 0 0;
}
.legend-chart li:last-child .colorpatch {
    border-radius: 0 0 10px 10px;
}
.legend-chart li:only-child .colorpatch {
    border-radius: 10px;
}

.legend-chart .label {
    max-width: 150px;
}






/*.legend-table .colorpatch {*/
    /*width: 32px;*/
    /*font-size: 0.8em;*/
    /*padding: 4px;*/
    /*border: 1px solid #AAA;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
/*}*/
/*.legend-table .empty {*/
    /*width: 34px;*/
/*}*/
/*.legend-table h4 {*/
    /*margin: 0 0 0 4px;*/
    /*font-weight: normal;*/
    /*font-size: 1.1em;*/
/*}*/
/*.legend-table .info {*/
    /*margin-top: 4px;*/
    /*margin-bottom: 8px;*/
    /*border-top: 1px solid #DDD;*/
    /*font-size: 0.9em;*/
    /*line-height: 1.1;*/
/*}*/
/*.legend-table li + li {*/
    /*margin-top: 1.2em;*/
/*}*/
/*.legend-table h4 + span {*/
    /*margin-top: 0.5em;*/
/*}*/


#Legend {
    font-size: 1.2em;
    width: 200px;
}
#Legend h4 {
    margin-top: 0;
}
#Legend h5 {
    font-weight: normal;
}
#Legend > select {
    border: none;
    cursor: pointer;
}
#Legend > div {
    clear: both;
    padding: 0 4px;
    margin-top: 4px;
    /*border-top: 1px solid #CCC;*/
}
#Legend .colorpatch {
    height: 1.25em;
    width: 1.25em;
    vertical-align: middle;
    display: inline-block;
    margin: 1px 6px 1px 2px;
    border: 1px solid #DDD;
}
#Legend .colorpatch + div {
    display: inline-block;
    vertical-align: middle;
}

#Legend input[type=range] {
    width: 130px;
}

#Legend .legend-count {
    border-top: 1px solid #DDD;
    margin-top: 4px;
    padding-top: 4px;
    font-weight: bold;
}



/* used by filter tabs */
.filter-subheading {
    margin-left: 10px;
    margin-bottom: 2px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 14px;
}

.dc-chart + div {
    margin-bottom: 20px;
}

.filter-reset {
    display: none;
    /*float: right;*/
    color: #AAA;
    font-style: italic;
    margin-left: 8px;
}
.filtered .filter-reset {
    display: inline-block;
    font-weight: normal;
}

h4.filtered {
    color: red;
}

h4.mapped .fa-map
 {
    /*h4:hover .fa-map*/
    /*visibility: visible;*/
    color: #1f77b4 !important;
}
h4 .fa-map {
    /*visibility: hidden;*/
    color: #DDD;
}
h4:hover .fa-map {
    color: #AAA;
}

/*h4.mapped,*/
/*h4.mapped:hover {*/
    /*background: #1f77b4;*/
    /*color: white;*/
/*}*/
/*h4.mapped .filter-reset {*/
    /*color: white;*/
/*}*/


#SppFilter .select-row + .select-row {
    margin-top: 10px;
}
#SppFilter label {
    width: 200px;
    display: inline-block;
    text-align: right;
    margin: 0 10px 0 0;
}
#SppFilter select {
    width: 210px;
}

#Filter-slr .filter-radio-container .radio-container {
    display: block;
}

#Filter-slr .filter-radio-container span + span {
    margin-left: 0;
}


.slider-list {
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
}
.slider-list li {
    margin-top: 20px;
    padding: 4px 0;
    position: relative;
}
.slider-list input[type=range] {
    width: 300px;
    /*margin: 0;*/
}

.slider-list h4 span {
    color: #AAA;
    font-weight: normal;
    margin-left: 8px;
    cursor: pointer;
}

/* idea from: http://codepen.io/thelifemgmt/pen/CeLqA */
.slider-value {
    /*background: #555;*/
    /*color: white;*/
    position: relative;
    /*border-radius: 10px;*/
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 10px;
    border: 1px solid #AAA;
    outline: none;
    width: 64px;
}
.slider-value:focus {
    border-color: blue;
}
.slider-list .input-label {
    margin-left: 10px;
}
.slider-label {
    width: 300px;
    margin-top: -12px;
}


/*.slider-value::before {*/
    /*position: absolute;*/
    /*content: "";*/
    /*height: 0;*/
    /*width: 0;*/
    /*left: -6px;*/
    /*border-right: 12px solid #555;*/
    /*border-top: 9px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
/*}*/


#PartnersList li,
#LTList li {
    font-size: 0.9em;
    padding: 0 0 8px 0;
}


/********* new basemaps *********/
.basemaps {
    /*border-radius: 32px;*/
    /*background: rgba(255,255,255,0.7);*/
    padding: 4px;
}
/*.basemaps.closed {*/
    /*background: transparent;*/
/*}*/
.basemaps.closed .basemap {
    display: none;
}
.basemaps.closed .basemap.alt {
    display: inline-block;
}
.basemaps.closed .basemap.alt h4 {
    display: none;
}
.basemaps.closed .basemap.alt img {
    /*width: 64px;*/
}


.basemap {
    display: inline-block; /* todo: flexbox? */
    cursor: pointer;
}
.basemap:hover img {
    /*background: #F6F6F6;*/
    /*opacity: 0.6;*/
}
.basemap.active img {
    /*background: rgba(255, 165, 0, 0.2);*/
    border-color: orange;
    box-shadow: 2px 2px 4px #000;
}
.basemap img {
    width: 64px;
    border: 2px solid #FFF;
    margin: 0 2px;
    border-radius: 40px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65)
}
/*.basemap label {*/
    /*!*text-align: center*!*/
    /*font-weight: bold;*/
/*}*/
