.pdfReporterContainer {
  display: none;
}
.pdfReporterContainer.active {
  display: block;
  z-index: 10000;
}
.pdfReporterContainer .scrim {
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #fff;
  padding: 15% 0 0 50%;
}
.pdfReporterContainer .scrim .spinner {
  width: 100px;
  height: 100px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNjQ2RDVBIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDZ2M2w0LTQtNC00djNjLTQuNDIgMC04IDMuNTgtOCA4IDAgMS41Ny40NiAzLjAzIDEuMjQgNC4yNkw2LjcgMTQuOGMtLjQ1LS44My0uNy0xLjc5LS43LTIuOCAwLTMuMzEgMi42OS02IDYtNnptNi43NiAxLjc0TDE3LjMgOS4yYy40NC44NC43IDEuNzkuNyAyLjggMCAzLjMxLTIuNjkgNi02IDZ2LTNsLTQgNCA0IDR2LTNjNC40MiAwIDgtMy41OCA4LTggMC0xLjU3LS40Ni0zLjAzLTEuMjQtNC4yNnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==) no-repeat center center;
  background-size: 100px;
  animation: spin 2s infinite linear;
}
.pdfReporterContainer .curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  z-index: 10000;
}
.pdfReporterContainer .preview {
  position: absolute;
  top: 3%;
  margin-left: 10%;
  height: 85%;
  width: 80%;
  z-index: 10001;
}
.pdfReporterContainer .preview .toolbar {
  width: 9.3in;
  margin-left: calc((100% - 8.5in) / 2);
  padding: 3px;
}
.pdfReporterContainer .preview .toolbar .controlButton {
  color: #000;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.pdfReporterContainer .preview .toolbar .controlButton.print.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.pdfReporterContainer .preview iframe {
  background-color: #fff;
  height: 100%;
  width: 9.3in;
  margin-left: calc((100% - 8.5in) / 2);
}
